<!DOCTYPE html>
<html>
<head>
  <title>Reativo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "reativo/application", media: "all" %>
  <%= javascript_include_tag "reativo/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
